/*
.cabin-fuentePrincipal {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*/

*{
    font-family: "Cabin", sans-serif;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(240, 240, 240);
    display: grid;
  }

h1{
    color: #510d1b;
    font-size: 3rem;
    text-align: center;
}
h2{
    padding-top:25px;
    color: #510d1b;
    font-size: 2rem;
    text-align: center;
}

h3{
    padding-top:25px;
    color: #2500dd;
    font-size: 1.5rem;
    text-align: center;
}

h4{
    padding-top:25px;
    color: #000000;
    font-size: 1rem;
    text-align: center;
}

p{
    color: #272727;
}

/*----- HEADER*/

.header{

    background-color: pink;
    display: flex;
    flex-flow: row wrap;

    align-items:stretch;
    justify-content: space-evenly;

    
    height:15vh;
    padding:10px 20px;
    align-items: center;
    justify-content: space-between;
      
    .logo{
        width: 200px;
    }

    nav{
      
        ul{
            list-style: none;
            li{
                display: inline-block;
                margin-right: 15px;
                a{
                    text-decoration: none;
                    color:  #510d1b;
                    font-size: 0.8em;
                  
                }
            }
           
        }
    }
}

/*----- MAIN*/

main{
    background-color: cyan;
    height:auto;
    padding: 10px;

    .secIndexPrincipal{

        background-color: coral;
        padding: 10px;
        margin: 0 auto;
    }
    
    .secIndexDestacados{
    
        background-color: yellow;
        padding: 10px;
        margin: 0 auto;
        width: 80%;
        .galeriaDestacados{
            background-color: rgb(98, 98, 98);
            
            display: flex;
            flex-flow: row wrap;

            align-items:stretch;
            justify-content: space-evenly;


         .tarjetaDestacados{
            background-color: rgb(197, 197, 197);
            width:250px;
            margin-top:10px;
            margin-bottom: 10px ;

            display: inline-block;


            text-align: center;
            h3{
                font-size: 1.2rem;
            }
            h4{
                font-size: 1rem;
            }
           
            img{
                width: 180px;
             }
         }
        }
    
    }

}

/*OPINION DE CLIENTES RESEÑAS*/
.opinionesClientes{
    text-align: center;
    .galeriaClientes{
       background-color: pink;
       background-image:url(../assets/Patron_1.png);
        padding:50px;
        margin:0 auto;
        width: 60%;
        display:flex;
        justify-content: space-evenly;
        row-gap: 20px;
        flex-wrap: wrap;
        .tarjetaClientes{
            background-color: grey;

            width: 250px;

            img{
                width: 200px;

            }
        }
    }
}

.footer{

    display: grid;
    grid-template: auto 1fr auto auto/ auto 1fr auto;
    grid-gap: 10px;
    gap: 10px;
    background-color: purple;
    height:auto;
    padding:10px;


.contDescuentoEmail{
    background-color: yellow;
    grid-column: 1 / 4;


}

.descuentoEmail{

width:400;
place-items: center;
align-items: center;


}
.descuentoEmail label
{
   
    margin: 5px;
    text-align: center;

    display: flex;
    flex-direction:column;
    justify-content: flex-start;
      
}


    .logoFooter{

        background-color: yellowgreen;
        grid-column: 1 / 2;
    
    }
    .atencionAlCliente{
        background-color: lavender;

        grid-column: 1 / 2;
    }

    .whoss{
        background-color: rgb(206, 206, 206);
        grid-column: 2 / 3;
        grid-row:2/4;
        place-items: center;
        ul{
        list-style: none;
        text-align: center;
        }

    }

    address{

        grid-column: 3 / 4;
        grid-row: 2/3;
    
    }

    .redesSociales{
      /*  background-color: rgb(0, 71, 0);
*/
        grid-column: 3 / 4;
        grid-row: 3/4;
        place-items: center;

        ul{
            list-style: none;

            li{
            background-color: green;
            display: inline-block;
            justify-content: space-evenly;

            }
        }

    }

    #creditos{
        background-color: rgb(187, 255, 0);
        grid-column: 1 / 4;
        text-align: center;

    }


}





/* BOTÓN AL TOP*/

.regresaArriba {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
    
.regresaArriba:hover {
    background-color: #0056b3;
}

/* ------------------------- CONTACTO*/

.formularioContacto {
     background-color: #fff;
     padding: 20px;
     margin: 0 auto;
     
     border-radius: 5px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     width: 400px;
     }
     
     .formularioContacto h2 {
        margin-bottom: 20px;
     }
     .formularioContacto label {
        display: block;
        margin-bottom: 5px;
    }
     .formularioContacto input, .formularioContacto textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
     }
     
     .formularioContacto button {
        background-color: #007bff;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
     }